# Docker & Reverse Proxy Domain Settings
REGISTRY_OWNER=your_github_username
VIRTUAL_HOST=yourdomain.com
LETSENCRYPT_HOST=yourdomain.com

# Server Configuration
PORT=5000
SERVER_URL=http://localhost:5000
MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/goodberry
JWT_SECRET=your_jwt_secret
CLOUDINARY_API_KEY=your_key
CLOUDINARY_API_SECRET=your_secret
CLOUDINARY_NAME=your_name

GOOGLE_CLIENT_ID=your_client_id
GOOGLE_CLIENT_SECRET=your_client_secret
SESSION_SECRET=your_session_secret
GOOGLE_CALLBACK_URL=http://localhost:5000/api/auth/google/callback

RAZORPAY_KEY_ID=your_key_id
RAZORPAY_KEY_SECRET=your_key_secret

CLIENT_URL=http://localhost:5173
REFRESH_TOKEN_SECRET=your_refresh_token_secret
EMAIL_USER=your_email
EMAIL_PASS=your_email_password
EMAIL_FROM="Good Berry" <your_email>

# Client Configuration
VITE_RAZORPAY_KEY_ID=your_key_id
VITE_API_BASE=http://localhost:5000
